<table class="mainForm">
    <tr>
        <td>appId</td>
        <td><input type="text" name="appId" value="201768e06a75fbcd79f4f21f60867102" ></td>
    </tr>
    <tr>
        <td>key</td>
        <td><input type="text" name="secretkey" value="1c1xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx1cf" ></td>
    </tr>
    <tr>
        <td>order id</td>
        <td><input type="text" name="orderId"></td>
    </tr>
    <tr>
        <td>order amount</td>
        <td><input type="text" name="orderAmount" value="2" ></td>
    </tr>
    <tr>
        <td>currency</td>
        <td><input type="text" name="currency" value="INR" ></td>
    </tr>
    <tr>
        <td>ordernote</td>
        <td><input type="text" name="ordernote" value="testing" ></td>
    </tr>
    <tr>
        <td>customer name</td>
        <td><input type="text" name="customerName" value="a" ></td>
    </tr>
    <tr>
        <td>customer email</td>
        <td><input type="text" name="customerEmail" value="a@a.com" ></td>
    </tr>
    <tr>
        <td>customer phone</td>
        <td><input type="text" name="customerPhone" value="1234512345" ></td>
        </tr>
</table>